.popup__content {
    padding: 34px 36px 37px;
    box-sizing: border-box;
    background: white;
    height: 330px;
    width: 430px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 5;
}

@media screen and (max-width: 450px) {
    .popup__content {
        padding: 25px 22px 25px 22px;
        width: 282px;
        height: 322px;
    }
}