.header__logo {
    width: 142px;
    height: 33px;
    background-image: url('../../../images/Icons/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0 41px 0;
} 

@media screen and (max-width: 321px) {
    .header__logo {
        width: 104px;
        height: 24px;
        margin-left: 27px;
    }
}