.elements__like {
    padding: 0;
    margin-right: 5px;
    margin-top: 4.5px;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/Icons/like.svg);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: flex-start;
    border: none;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

.elements__like:hover {
    opacity: .5;
}