.profile__addButton {
    align-self: center;
    width: 150px;
    height: 50px;
    border: 1px solid white;
    margin-left: 245px;
    padding: 0;
    background: none;
    background-image: url(../../../images/add.svg);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 780px){
.profile__addButton {
    margin-top: 32px;
    width: 100%;
    background-size: 15px;
    margin-left: 0;
}
}