.profile-info {
    flex-grow: 2;
    margin-left: 30px;
    display: grid;
    grid-template-columns: fit-content(294px) fit-content(25px);
    column-gap: 19px;
    row-gap: 9px;
    align-content: center;
}

