.profile-info__job {
    margin: 0;
    grid-row: 2/3;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 979px) {
    .profile-info__job {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}