.profile-info__edit {
    width: 24px;
    height: 24px;
    background: black;
    border: none;
    padding: 0;
    margin: 5px 0 0 0;
    align-self: center;
    background-image: url(../../../images/Edit\ Button.svg);
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 2/3;
    grid-row: 1/2;
}